//为项目提供全局变量
//定义项目主题颜色
$base-color:red;
// 左侧菜单的宽度
$base-menu-width:260px;
// //左侧菜单的背景颜色
$base-menu-background:#001529;
// //顶部的导航的宽度
$base-tabbar-height:50px;
//左侧菜单地logo地高度
$base-menu-logo-height:50px;
//定义左侧的logo的右侧文字大小
$base-logo-title-fontSize:20px;
// 定义左边侧边栏地最小宽度
$base-menu-min-width:50px;